<ui-page>
  <ui-title>Interpretations</ui-title>
  <ui-actions>
    <ui-button state="primary" routerLink="/data-analyses/start-analysis"
      >New Analysis</ui-button
    >
  </ui-actions>

  <ui-filter-content>
    <app-table-filter
      [config]="filterConfig"
      (filterChange)="onFilter($event)"
    ></app-table-filter>
    <div
      fxLayout
      fxLayoutAlign="flex-end"
      *ngIf="pageAnalysisDefinitionDto$ | async as pageAnalyses"
    >
      <mat-paginator
        [length]="pageAnalyses?.totalElements"
        [pageSize]="pageAnalyses?.size"
        [pageIndex]="pageAnalyses?.number"
        (page)="onPage($event)"
        [pageSizeOptions]="[10, 20, 50, 100]"
        showFirstLastButtons="true"
      >
      </mat-paginator>
    </div>
  </ui-filter-content>

  <ui-content>
    <app-interpretations-table
      (pageChange)="onPage($event)"
      (sortChange)="onSort($event)"
      [data]="interpretations$ | async"
    ></app-interpretations-table>
  </ui-content>
</ui-page>
